$blue: #458ff6;
$light-purple: #1f153480;
$purple: #1f1534;
$black: #000000;
$white: #ffffff;
$grey: #7d7987;
$gradient-blue: linear-gradient(208.18deg, #67c3f3 9.05%, #67c3f3 9.06%, #5a98f2 76.74%);
